<form [formGroup]="academiaForm" (ngSubmit)="cadastrarAcademia()">
    <fieldset>
        <legend>Insira os dados abaixo</legend>
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" formControlName="nome" />
            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" formControlName="endereco" />
            <label for="status">Situação</label>
            <select name="status" formControlName="status">
                <option [ngValue]="true">Aberto</option>
                <option [ngValue]="false">Fechado</option>
            </select>
        </div>
        <div>
            <label for="mascara">Máscara</label>
            <select name="mascara" formControlName="mascara">
                <option value="Obrigatório">Obrigatório</option>
                <option value="Recomendado">Recomendado</option>
            </select>
            <label for="toalha">Toalha</label>
            <select name="toalha" formControlName="toalha">
                <option value="Obrigatório">Obrigatório</option>
                <option value="Recomendado">Recomendado</option>
            </select>
            <label for="bebedouro">Bebedouro</label>
            <select name="bebedouro" formControlName="bebedouro">
                <option value="Parcial">Parcial</option>
                <option value="Proibido">Proibido</option>
            </select>
            <label for="vestiarios">Vestiários</label>
            <select name="vestiarios" formControlName="vestiarios">
                <option value="Liberado">Liberado</option>
                <option value="Parcial">Parcial</option>
                <option value="Fechado">Fechado</option>
            </select>
        </div>
        <div>
            <label for="weekDays">Seg. à Sex.</label>
            <input type="text" name="weekDays" formControlName="weekDays" />
            <label for="sab">Sáb.</label>
            <input type="text" name="sab" formControlName="sab" />
            <label for="dom">Dom.</label>
            <input type="text" name="dom" formControlName="dom" />
        </div>
    </fieldset>
    <div class="buttons">
        <button id="register" type="submit">Cadastrar Unidade</button>
        <button id="clear" type="reset">Limpar</button>
    </div>
</form>
