<section>
    <div class="card">
        <p>Máscara</p>
        <div class="legenda">
            <figure>
                <img src="../../assets/images/required-mask.png" alt="" />
                <figcaption>Obrigatório</figcaption>
            </figure>
            <figure>
                <img src="../../assets/images/recommended-mask.png" alt="" />
                <figcaption>Recomendado</figcaption>
            </figure>
        </div>
    </div>
    <div class="card">
        <p>Toalha</p>
        <div class="legenda">
            <figure>
                <img src="../../assets/images/required-towel.png" alt="" />
                <figcaption>Obrigatório</figcaption>
            </figure>
            <figure>
                <img src="../../assets/images/recommended-towel.png" />
                <figcaption>Recomendado</figcaption>
            </figure>
        </div>
    </div>
    <div class="card">
        <p>Bebedouro</p>
        <div class="legenda">
            <figure>
                <img src="../../assets/images/partial-fountain.png" alt="" />
                <figcaption>Parcial</figcaption>
            </figure>
            <figure>
                <img src="../../assets/images/forbidden-fountain.png" alt="" />
                <figcaption>Proibido</figcaption>
            </figure>
        </div>
    </div>
    <div class="card">
        <p>Vestiários</p>
        <div class="legenda">
            <figure>
                <img src="../../assets/images/required-lockerroom.png" alt="" />
                <figcaption>Liberado</figcaption>
            </figure>
            <figure>
                <img src="../../assets/images/partial-lockerroom.png" alt="" />
                <figcaption>Parcial</figcaption>
            </figure>
            <figure>
                <img
                    src="../../assets/images/forbidden-lockerroom.png"
                    alt=""
                />
                <figcaption>Fechado</figcaption>
            </figure>
        </div>
    </div>
</section>
